* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  min-width: 500px;
}
.checkBox-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.oneWay-container,
.roundTrip-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.oneWay-container label,
.roundTrip-container label {
  margin-right: 5px;
}

.search-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 16px 0;
}

.search-container input {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.search-container input:focus {
  outline: 1px solid darkgray;
}
