/* CheckboxInput CSS */
.checkBox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.checkBox-input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  justify-content: space-evenly;
}
.checkBox-input label {
  margin-right: 5px;
}
label[for="oneWay"],
[for="roundTrip"] {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}
input[type="date"] {
  padding: 10px 50px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 14px;
}
input[type="date"]:focus {
  outline: 1px solid #2676c2;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  cursor: pointer;
}
.date-picker {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.departure-label {
  position: absolute;
  top: -8px;
  background-color: white;
  font-size: 14px;
  left: 6px;
  padding: 0 5px 0 5px;
}
.return-label {
  position: absolute;
  top: -8px;
  background-color: white;
  font-size: 14px;
  right: 113px;
  padding: 0 5px 0 5px;
}
/* SearchBar CSS */
.search-container {
  display: flex;
  width: 100%;
  margin: 16px 0 0 0;
}

.search-container input {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.search-container input:focus {
  outline: 1px solid darkgray;
}
.input-error {
  border: 1px solid #fc8181 !important;
}

.error {
  color: #fc8181;
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
}
.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.search-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.search-input {
  display: flex;
  justify-content: space-between;
}
.search-btn {
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: #2676c2;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 15px;
}

.search-btn:hover {
  background-color: #004a92;
}
/* SearchResult CSS */
.result-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg 0% 100% / 65%);
  backdrop-filter: blur(10px);
  width: 245px;
  position: absolute;
  left: 115px;
  top: 180px;
  max-height: 150px;
  overflow-y: scroll;
}
.result {
  margin: 10px;
}

.result-item {
  border: none;
  font-size: 14px;
  background: none;
}
/* FlightList CSS */
.fligth-list-container {
  display: flex;
  width: 95%;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.flight-list {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.flight-list-item {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 16px 0;
  align-items: flex-start;
}
.fx-cl-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price {
  background-color: #2676c2;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.font-large {
  font-size: 18px;
  font-weight: 600;
}
